# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
build
.turbo

# Environment files
.env
.env.local
.env.*.local
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo
.certs

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
coverage
.nyc_output

# Docker
*.pid
*.seed
*.pid.lock

.claude
